.container {
    max-width: 1320px;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media only screen and (max-width:1320px) {
    header {
        #head {
            .container {

                .row {
                    nav {
                        .navbar-brand {
                            margin: 0px 0px 0px 30px;

                        }

                        button {
                            margin: 0px 30px 0px 0px;
                            color: white;
                            background-color: #1ABC9C;
                            padding: 8px 12px;
                        }
                    }

                }
            }
        }
    }
}



@media only screen and (max-width:1200px) {
    header {
        #head {
            .container {

                .row {
                    nav {
                        .navbar-brand {
                            margin: 0px 0px 0px 50px !important;

                        }

                        button {
                            margin: 0px 50px 0px 0px !important;
                            color: white;
                            background-color: #1ABC9C;
                            padding: 8px 12px;
                        }
                    }

                }
            }
        }
    }

    #portfolio {
        .container {
            .boxs {
                .portfolio-box {
                    margin-right: 115px !important;
                    margin-bottom: 40px !important;
                }
            }
        }
    }

    #about {
        height: 618px !important;

        .container {
            

            .aboutDown {
                padding: 10px 20px !important;

            }


        }
    }

}

@media only screen and (max-width:992px) {
    header {
        #head {
            .container {

                .row {
                    nav {
                        .navbar-brand {
                            margin: 0px 0px 0px 30px;

                        }

                        
                    }

                }
            }
        }
    }

    #about {
        height: 618px !important;

        .container {
            .row {
                .aboutUp {
                    h1 {
                        font-size: 63px;
                        font-weight: 700;
                        line-height: 3.5rem;
                        margin-bottom: 25px;
                        text-align: center;
                        color: #fff;
                    }

                    .star {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .starline {
                            width: 100px;
                            height: 4px;
                            border-radius: 7px;
                            background-color: #fff;
                            margin-left: 15px;
                            margin-right: 15px;
                        }

                        i {
                            font-size: 2em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }


            }

            .aboutDown {
                padding: 10px 20px !important;

                
            }

            .aboutBtn {
                a:hover {
                    background-color: white;
                    color: black;

                    i {

                        color: #000;
                    }
                }
            }
        }
    }

    #contact {

        .container {
            .contactUp {
                h1 {
                    font-size: 55px !important;

                }


            }

            .contactDown {
                form {
                    padding: 0px 80px !important;
                }
            }
        }
    }

    #footerUp {
        height: 584px;

        .container {
            .row {

                p {
                    color: #fff;
                    font-size: 1.25rem;

                    a {
                        color: #1ABC9C;
                    }
                }

                .footerLeft {

                    p {
                        padding: 0px 230px !important;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    header {
        #head {
            .container {

                .row {
                    nav {
                        .navbar-brand {
                            margin: 0px 0px 0px 30px;

                        }

                        button {
                            margin: 0px 30px 0px 0px;
                        }
                    }

                }
            }
        }
    }
    #portfolio {
        .container {
            .boxs {
                .portfolio-box {
                    margin-right: 30px !important;
                    margin-bottom: 40px !important;
                }
            }
        }
    }
    #footerUp {
        height: 584px;

        .container {
            .row {

                p {
                    color: #fff;
                    font-size: 1.25rem;

                    a {
                        color: #1ABC9C;
                    }
                }

                .col-md-12,
                .col-lg-4 {
                    margin-bottom: 40px;
                }

                .footerLeft {

                    p {
                        padding: 0px 130px !important;

                    }
                }
            }
        }
    }


}

@media only screen and (max-width:768px) {
    header {
        #head {
            .container {

                .row {
                    nav {
                        .navbar-brand {
                            font-size: 23px;
                            margin: 0px 0px 0px 10px !important;
                        }

                        button {
                            margin: 0px 10px 0px 0px !important;
                        }
                    }

                }
            }
        }
    }

    

}