main {

    #startBootstrap {
        display: flex;
        align-items: center;
        height: 782.53px;
        background-color: #1ABC9C;
        text-align: center;
        margin-bottom: 100px;

        .bootstrap {
            color: #fff;
            font-weight: 4rem;

            img {
                width: 15rem;
                margin-bottom: 25px;
            }

            h1 {
                font-size: 55px;
                font-weight: 700;
                line-height: 3.5rem;
                margin-bottom: 25px;
            }

            .star {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 2em;
                    font-weight: 700;
                    color: #fff;
                }

                .starline {
                    width: 100px;
                    height: 4px;
                    border-radius: 7px;
                    background-color: white;
                    margin-left: 15px;
                    margin-right: 15px;

                }
            }

            p {
                font-size: 19px;
                font-weight: 600;
            }
        }
    }

    #portfolio {
        margin-bottom: 60px;

        .container {
            .row {
                h1 {
                    font-size: 55px;
                    font-weight: 700;
                    line-height: 3.5rem;
                    margin-bottom: 25px;
                    text-align: center;
                }

                .star {
                    margin-bottom: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .starline {
                        width: 100px;
                        height: 4px;
                        border-radius: 7px;
                        background-color: #2C3E50;
                        margin-left: 15px;
                        margin-right: 15px;
                    }

                    i {
                        font-size: 2em;
                        font-weight: 700;
                        color: #2C3E50;
                    }
                }


            }

            .boxs {
                display: flex;
                // flex-wrap: wrap;
                justify-content: center;

                .portfolio-box {
                    margin-right: 0px;
                    margin-bottom: 40px;
                    position: relative;
                    max-width: 380px;

                    img {
                        max-width: 100%;
                        border-radius: 9px;
                    }

                    .hover-portfolio {
                        i {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 62px;
                            color: white;
                            background-color: rgba($color: #1ABC9C, $alpha: 0.7);
                            position: absolute;
                            top: 0;
                            width: 94%;
                            height: 100%;
                            opacity: 0;
                            transition: all .3s ease;

                        }
                        i:hover{
                            opacity: 1;
                        }
                    }
                }

                
            }
        }
    }

    #about {
        background-color: #1ABC9C;
        height: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        .container {
            .row {
                .aboutUp {
                    h1 {
                        font-size: 55px;
                        font-weight: 700;
                        line-height: 3.5rem;
                        margin-bottom: 25px;
                        text-align: center;
                        color: #fff;
                    }

                    .star {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .starline {
                            width: 100px;
                            height: 4px;
                            border-radius: 7px;
                            background-color: #fff;
                            margin-left: 15px;
                            margin-right: 15px;
                        }

                        i {
                            font-size: 2em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }


            }

            .aboutDown {
                padding: 10px 200px;

                p {
                    font-size: 1.25rem;
                    font-weight: 400;
                    color: #fff;
                    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                }
            }

            .aboutBtn {
                justify-content: center;

                a {
                    width: 246.5px;
                    height: 66px;
                    border-radius: 10px;
                    border: 2px solid white;
                    padding: 20px 20px;
                    font-size: 22px;
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.5s;

                    i {
                        transition: all 0.5s;

                        color: #fff;
                    }
                }

                a:hover {
                    background-color: white;
                    color: black;

                    i {

                        color: #000;
                    }
                }
            }
        }
    }

    #contact {
        margin-bottom: 100px;

        .container {
            .contactUp {
                h1 {
                    font-size: 55px;
                    font-weight: 700;
                    line-height: 3.5rem;
                    margin-bottom: 25px;
                    text-align: center;
                }

                .star {
                    margin-bottom: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .starline {
                        width: 100px;
                        height: 4px;
                        border-radius: 7px;
                        background-color: #2C3E50;
                        margin-left: 15px;
                        margin-right: 15px;
                    }

                    i {
                        font-size: 2em;
                        font-weight: 700;
                        color: #2C3E50;
                    }
                }

            }

            .contactDown {
                form {
                    padding: 0px 200px;

                    .form-group {
                        margin-bottom: 35px;

                        label {
                            color: #6c757d;
                            font-size: 23px;
                        }

                        input {

                            &:focus {
                                outline: none !important;
                                box-shadow: none;
                                border-bottom-color: green;
                            }

                            font-size: 1.5rem;
                            border-left: 0;
                            border-right: 0;
                            border-top: 0;
                            border-radius: 0;
                            border-width: 1px;

                        }


                        textarea {
                            font-size: 1.5rem;
                            border-left: 0;
                            border-right: 0;
                            border-top: 0;
                            border-radius: 0;
                            border-width: 1px;
                        }
                    }

                    button {
                        margin-top: -20px;
                        font-weight: 545;
                        font-size: 18px;
                        color: white;
                        background-color: #1ABC9C;
                        width: 104px;
                        height: 64px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}